/*
@font-face {
    font-family:'SP Pro Text';
    font-style: normal;
    font-weight: 300;
    scr:
    local('SF Pro Text')
    url('front/SEProText-Light.woff2'), format('woff2'),
    url('front/SEProText-Light.woff'), format('woff'),
    url('front/SEProText-Light.ttf'), format('ttf'),
    url('front/SEProText-Light.eot'), format('eot')''
}
*/

.journal-ids {
    width: 320px;
    padding: 20px;
    font-size: 18px;
    font-weight: 900;
    border: 2px;
margin-top: 23px;
    color: darkgreen;
    background-color: rgb(223, 205, 106);

    border-radius: 15px;
}
    
    .journal-ids > p {
        margin: 0px;
    
}


.my_class{
padding: 5px;
margin: 5px;

width: max-content;
font-size: 9px;

border-radius: 4px;

color: darkgreen;
background-color: rgb(223, 205, 106);
}